.password-meter-container {
    width: 500px;
    height: 10px;
    display: flex;
}

.password-strength-section {
    flex-basis: 20%;
    background-color: #ccc;
    height: 10px;
    border-radius: 3px;
    display: inline-flex;
}

.password-strength-1, .password-strength-2 {
    background-color: red;
}

.password-strength-3, .password-strength-4 {
    background-color: orange;
}

.password-strength-5 {
    background-color: green;
}